{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p style="background-color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; border: groove">
    <table cellpadding="10">
        <tr>
            <td>
<h1>О Нас </h1><br />
<p>

    Бюро путешествий «Тур Агенство Bamiyan Weavers»  работает на туристическом рынке Пскова и области с 2003 года. Основной вид деятельности – прием российских и иностранных туристов в Пскове, туры в Великий Новгород и страны  Прибалтики. 
Имеет финансовые гарантии как туроператор  по внутреннему, въездному и выездному туризму, номер в  едином федеральном реестре  РТО 015854. Член Российского Союза туриндустрии. Участник проектов «Серебряное ожерелье» и «Русские усадьбы», «Императорский маршрут». Являлся исполнителем федерального проекта «Дети России» в Псковской области в 2016 и 2018 году и национального проекта "Культура" в 2019 году. 
Предлагает разнообразные  туры по Псковской области: для сборных групп и групп школьников, праздничные, событийные, корпоративные, авторские программы, квесты, мастер-классы, а также программы, совмещающие посещение Псковской и Новгородской областей, Псковской области и Эстонии, Латвии, Литвы.
Своих туристов нам доверяют  ведущие туроператоры России:  «Алеан», «Дельфин», «Магазин путешествий», «Ванд», «Роза ветров», «РЖД-тур», «Библиоглобус», «Корал», «Мульти-тур», TUI, «Вокруг света», «Виадук», «Нисса»,  «Невские сезоны»
 В 2015 г. наша программа "Территория Победы"  получила гран-при премии "МАРШРУТ ГОДА", а  тур  "Усадьбы Псковщины"  - третье место на ней.  Два брендовых маршрута Псковской области «Грибы и гении живут в провинции» и «Императорский маршрут»  - это маршруты ООО «Тур Агенство Bamiyan Weavers».  
 Бюро путешествий «Тур Агенство Bamiyan Weavers» -  это и туристическое агентство, предлагающее отдых жителям пскова на россйских и зарубежных курортах. Фирма имеет офис в центре города, на Октябрьском проспекте (2013 г. признан лучшим турагентским офисом в России), а также собственное средство размещения - "Загородный отель "Плесков" на берегу Псковского озера..

Мы ценим своих туристов и готовы сделать все, чтобы их отдых был комфортным. Лозунг нашей компании: «Надежность, безопасность, качество отдыха».

Предлагаем­ Вам ознакомитс­я с Положением­ “Об обработке и защите персональн­ых данных”, применяемы­м в нашей турфирме.

























</p>
            
        </td></tr></table>

{% endblock %}


#Muhammad , muhammad1234
