{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<p style="background-color: lightgray; margin: 50px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; border: groove">
    
       <table border="3"; cellpadding="10" bordercolor="white">
           <tr>
               <td>
                   <center>Легенды древней Армении </center><br />
                   <center><img src="{% static 'app/image/eri.jpg' %}" width="100%" /></center><br />
                   Ереван –Крепость Амберд – Сагмосаванк – Памятник Алфавиту –Обзорный тур по 
                   Еревану – Ереванский коньячный завод – Эчмиадзин – Звартноц – Музей
                   Сокровища Эчмиадзина –Гарни – Гегард – Хор Вирап – Нораванк – Арени
                   – Озеро Севан – Севанаванк – Дилижан – Агарц
                   9 дней / 8 ночей
                   Даты заездов: еженедельно по четвергам
               </td>
               <td>
                   <center>Вся Беларусь за 7 дней (на автобусе из Санкт-Петербурга)</center><br />
                   <center><img src="{% static 'app/image/bela.jpg' %}" width="100%" /></center><br />
                   Санкт-Петербург — Витебск — Минск — Мир-Несвиж — Брест 
                   Беловежская пуща — Гродно — Лида — Санкт-Петербург
                   7 дней / 6 ночей
                   Даты заездов: по графику<br />
                   От 6 900 ₽ за человека <br />
                   Места есть<br />
               </td>
               <td>
                   <center>Знакомьтесь - Киев! (регулярный тур) </center><br />
                   <center><img src="{% static 'app/image/erew.jpg' %}" width="100%" /></center><br />
                   Киев
                   От 1 до 7 дней
                   Даты заездов: ежедневно<br />
                   Показать все даты Время начала:10:30 <br />
                   От 6 700 ₽ за человека <br />
                   Места есть<br />
               </td>
           </tr>
           <tr>
               <td>
                   <center>Индивидуальные автобусные экскурсии по Киеву</center><br />
                   <center><img src="{% static 'app/image/tyt.jpg' %}" width="100%" /></center><br />
                    Киев
                    От 1 до 7 дней
                    Даты заездов: ежедневно<br />
                    Даты:25.01.2022.02.2028.03.2011.04.2016.05.20<br />
                    Показать все даты Время начала:08:05<br />
                    От 6 800 ₽ за человека<br />
                    Места есть<br />
               </td>
               <td>
                   <center>Многоликий Кавказ + Грузия (выезд из Крыма)</center><br />
                   <center><img src="{% static 'app/image/dfd.jpg' %}" width="100%" /></center><br />
                    Севастополь – Симферополь – Краснодар – Владикавказ – Тбилиси
                    – Грозный – Нальчик – Майкоп — Севастополь
                    9 дней / 8 ночей
                    Даты заездов: май-декабрь 2020<br />
                    Показать все даты Время начала:08:05 <br />
                    От 4 500 ₽ за человека<br /> 
                    Места есть<br />
               </td>
               <td>
                   <center>Дивное очарование Колхиды</center><br />
                   <center><img src="{% static 'app/image/df.jpg' %}" width="100%" /></center><br />
                    Севастополь – Симферополь – Гагры – Новый Афон – Лыхны – Дурипш –
                    о. Рица – Севастополь
                    4 дня / 3 ночи
                    Даты заездов: май 2020<br />
                    Даты:25.01.2022.02.2007.03.2028.03.2011.04.20<br />
                    Показать все даты Время начала:08:05<br />
                    От 5 100 ₽ за человека <br />
                    Места есть<br />
               </td>
          
              </tr>
       </table>
</p>

{% endblock %}
