{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<p style="background-color: lightgray; margin: 50px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; border: groove">
    
       <table border="3"; cellpadding="10" bordercolor="white">
           <tr>
               <td>
                   <center>Баловство на Рождество 2 дня</center><br />
                   <center><img src="{% static 'app/image/psskov.jpg' %}" width="100%" /></center><br />
                        Места показа: Псков, Изборск, Печоры, Пушкинские Горы<br />
                        Город начала: Псков<br />
                        Продолжительность: 2 дня / 1 ночь<br />
                        Даты:06.01.20Время начала:08:05<br />
                        От 7 600 ₽ за человека <br />
                        Места есть  <br /> 
               </td>
               <td>
                   <center>#Все_в_Псков 3 дня</center><br />
                   <center><img src="{% static 'app/image/pushkin.png' %}" width="100%" /></center><br />
                   Места показа: Псков, Пушкинские Горы, Изборск, Печоры<br />
                   Город начала: Псков<br />
                   Продолжительность: 3 дня / 2 ночи<br />
                   Даты:24.01.2021.02.2006.03.2027.03.2010.04.20<br />
                   Показать все даты Время начала:08:05<br />
                   От 6 900 ₽ за человека <br />
                   Места есть<br />
               </td>
               <td>
                   <center>#Все_в_Псков 3 дня СПб</center><br />
                   <center><img src="{% static 'app/image/saint.jpg' %}" width="100%" /></center><br />
                   Места показа: Псков, Пушкинские Горы, Изборск, Печоры<br />
                   Город начала: Псков<br />
                   Продолжительность: 3 дня / 2 ночи<br />
                   Даты:24.01.2021.02.2006.03.2027.03.2010.04.20<br />
                   Показать все даты Время начала:10:30 <br />
                   От 6 700 ₽ за человека <br />
                   Места есть<br />
               </td>
           </tr>
           <tr>
               <td>
                   <center>Императорская семья. Псков." Брендовый маршрут Псковской области.</center><br />
                   <center><img src="{% static 'app/image/impra.jpg' %}" width="100%" /></center><br />
                    Места показа: Дно, Псков, Елизарово, Изборск, Печоры<br />
                    Город начала: Псков<br />
                    Продолжительность: 2 дня / 1 ночь<br />
                    Даты:25.01.2022.02.2028.03.2011.04.2016.05.20<br />
                    Показать все даты Время начала:08:05<br />
                    От 6 800 ₽ за человека<br />
                    Места есть<br />
               </td>
               <td>
                   <center>Инста-Псков: непостановочные фотопрогулки.</center><br />
                   <center><img src="{% static 'app/image/instapskov.jpg' %}" width="100%" /></center><br />
                    Места показа: Пушкинские Горы, Псков, Изборск, Печоры<br />
                    Город начала: Псков<br />
                    Продолжительность: 2 дня / 1 ночь<br />
                    Даты:25.01.2022.02.2007.03.2028.03.2011.04.20<br />
                    Показать все даты Время начала:08:05 <br />
                    От 4 500 ₽ за человека<br /> 
                    Места есть<br />
               </td>
               <td>
                   <center>#Все_в_Псков 2 дня</center><br />
                   <center><img src="{% static 'app/image/visee.jpg' %}" width="100%" /></center><br />
                    Места показа: Псков, Пушкинские Горы, Изборск, Печоры<br />
                    Город начала: Псков<br />
                    Продолжительность: 2 дня / 1 ночь<br />
                    Даты:25.01.2022.02.2007.03.2028.03.2011.04.20<br />
                    Показать все даты Время начала:08:05<br />
                    От 5 100 ₽ за человека <br />
                    Места есть<br />
               </td>
          
              </tr>
       </table>
</p>

  
   


{% endblock %}
